.create{
    width: 628px;
    border: 1px solid rgba(230, 230, 230,0.5);
    padding:0;
    height: 100vh;
    margin: 0;
}

.btn{
    border-radius: 50px;
    height: 35px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #1D9BF0 !important;
    border:none;
    color: white;
}
.btn:hover{
    background-color: #3096DB !important;
}
.header{
    width: 628px;
    height: 50px;
    z-index: 3;
}
.back{
    text-decoration: none;
    color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: all 0.5s;
}
.back:hover{
    background-color: rgb(230, 230, 230);
}