<div class="container profile p-3">
    <div class="header d-flex align-items-center my-4 ">
        <h5>{{user.firstName}} {{user.lastName}}</h5>
    </div>
    <div class="flex flex-column">
        <div class="banner">
            <img src="" alt="">
        </div>
        <div class="flex flex-column info">
            <h4>{{user.firstName}} {{user.lastName}}</h4>
            <h6 class="text-muted">@{{user.userName}}</h6>
            <h6 class="text-muted"><i class='bx bx-calendar'></i> Joined {{user.userName}}</h6>
            <h6 class="text-muted">{{user.userName}} Following {{user.userName}} Follower</h6>
        </div>
    </div>
</div>