<div class="container profile p-3">
    <div class="header d-flex align-items-center my-4 ">
        <a href="javascript:void(0)" (click)="goBack()" class="back me-3"><i class='bx bx-left-arrow-alt  fs-3'></i></a>
        <h5>{{user.firstName}} {{user.lastName}}</h5>
    </div>
    <div class="flex flex-column">
        <div class="banner">
            <img [src]='"data:image/jpeg;base64,"+this.user.image' alt="">
        </div>
        <div class="rounded-circle me-3 overflow-hidden text-center dp my-3" style="width:100px;height:100px">
            <img [src]='"data:image/jpeg;base64,"+this.user.image' alt="" style="width: 100%;height: 100%;">
        </div>
        <div class="flex flex-column info">
            <h4>{{user.firstName}} {{user.lastName}}</h4>
            <h6 class="text-muted text-sm">@{{user.userName}}</h6>
            <h6 class="text-muted text-sm"><i class='bx bx-calendar'></i> Joined {{user.createdAt | date}}</h6>
            <h6 class="text-muted text-sm"><span class="fw-bold">26</span> Following &nbsp; <span class="fw-bold">33</span> Follower</h6>
        </div>

    </div>
    <h5 class="mt-4">Tweets</h5>
    <ul class="list-group d-flex justify-content-center mt-4">
        <li class="list-group-item d-flex justify-content-center p-0" *ngFor="let tweet of tweets"><app-card
                (likeEvent)="ngOnInit()" [tweet]="tweet"></app-card></li>
    </ul>
</div>