<div class="container home p-3">
  <div class="header d-flex align-items-center my-3 ">
    <h5>Home</h5>
  </div>
  <div class="my-3">
    <form (submit)="upload()" [formGroup]="uploadForm">
      <div class="d-flex">
        <div class="rounded-circle me-3 overflow-hidden" style="width:45px;height:45px"><img [src]="imgUrl" alt=""
            style="width:100%;height:100%"></div>
        <input type="text" class="input" formControlName="content" id="content" placeholder="What's happening?">
      </div>
      <hr class="line">
      <div class="d-flex px-4 justify-content-between">
        <div>
          <label for="image" class='image'>
            <i class="bx bx-image fs-5"></i></label>
          <input type="file" class="d-none" [(ngModel)]="image" accept="image/*" formControlName="image" id="image"
            (change)="onFileSelected($event)">
        </div>
    
        <button class="btn btn-primary tweet" type="submit" [disabled]="uploadForm.invalid">Tweet</button>

      </div>
      <div class="text-center">
        <img *ngIf="dataURL" class="img-thumbnail my-4" [src]='dataURL' style="width: 300px;height: 300px;" alt="image">
      </div>
    </form>
  </div>
  <ul class="list-group d-flex justify-content-center">
    <li class="list-group-item d-flex justify-content-center p-0" *ngFor="let tweet of tweets"><app-card
        (likeEvent)="ngOnInit()" [tweet]="tweet"></app-card></li>
  </ul>
</div>