.form-control {
  height: 45px;
  border-radius: 100px;
  border: none;
  background-color: rgb(239,243,244);
  padding-left: 20px;
  padding-right: 20px;
}
.sidebar{
  position: fixed;
  right:0;
  top:0;
  width: 400px;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  /* border: 1px solid rgba(230, 230, 230,0.5); */
}

.people{
  background-color: rgb(247,249,249);
  border-radius: 20px;
}

.people li{
  background-color: transparent;
}
.btn{
    border-radius: 50px;
    height: 35px;
    position: absolute;
    right: 10px;
    align-items: center;
    display: flex;
}

footer *{
    text-decoration: none;
    color: black;
}
footer a{
  cursor:not-allowed;
}

.profile{
  cursor: pointer;
}