<div class="my-4 sidebar"  *ngIf="user">
    <input type="text" class="form-control" id="user" name="user" placeholder="Search Twitter" [(ngModel)]="inputUser" (ngModelChange)="filter(inputUser)">

    <div class="my-4 people p-3">
        <h5 class="my-3">Who to follow</h5>
        <ul class="list-group" *ngFor="let people of peoples">
            <li class="list-group-item border-0">
                <div class="d-flex align-items-start">
                    <div class="rounded-circle me-3 overflow-hidden" style="width:40px;height:40px" ><img [src]="'data:image/jpeg;base64,' + people.image" alt="" style="width:100%;height:100%"></div>
                    
                    <div class="d-flex flex-column">
                        <h6 class="text-strong">{{people.firstName}} {{people.lastName}}</h6>
                        <p class="text-muted">@{{people.userName}}</p>
                    </div>
                    <button class="btn btn-dark float-end">Follow</button>
                </div>
            </li>
        </ul>
    </div>
    <footer>
        <div class="d-flex flex-column text-center">
            <div class="d-flex flex-wrap gap-3 text-center justify-content-center">
                <a href="#" class="text-muted">Terms of Service</a>
                <a href="#" class="text-muted">Privacy Policy</a>
                <a href="#" class="text-muted">Cookie Policy</a>
                <a href="#" class="text-muted">Accessibility</a>
                <a href="#" class="text-muted">Ads Info</a>
            </div>
            <p> © 2022 Twitter, Inc.</p>
        </div>
    </footer>
</div>
