<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex flex-column">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-column">
        <li class="nav-brand mb-3">
          <a class="nav-link d-flex active" aria-current="page" routerLink="/home"><i
              class='bx bxl-twitter fs-1'></i></a>
        </li>
        <li class="nav-item mb-3" *ngIf="user?.id">
          <a class="nav-link d-flex" aria-current="page" routerLink="/home" routerLinkActive="active"><i
              class='bx bxs-home fs-3'></i>&nbsp; Home</a>
        </li>
        <li class="nav-item mb-3" >
          <a class="nav-link d-flex" aria-current="page" routerLink="/login" routerLinkActive="active"><i
              class='bx bxs-key fs-3'></i>&nbsp; Login</a>
        </li>
        <li class="nav-item mb-3">
          <a class="nav-link d-flex" aria-current="page" routerLink="/register" routerLinkActive="active"><i class='bx bxs-user-plus fs-3'></i>&nbsp; Register</a>
        </li>
        <li class="nav-item mb-3" *ngIf="user?.id">
          <a class="nav-link d-flex" aria-current="page" routerLink="/bookmark" routerLinkActive="active"><i class='bx bxs-bookmark fs-3'></i>&nbsp; Bookmarks</a>
        </li>
        <li class="nav-item mb-3" *ngIf="user?.id">
          <a class="nav-link d-flex" aria-current="page" routerLink="/profile" routerLinkActive="active"><i
            class='bx bxs-user fs-3'></i>&nbsp; Profile</a>
        </li>
        <li class="mb-3" *ngIf="user?.id">
          <a class="btn btn-dark mb-3 float-end tweet" routerLink="/create">Tweet</a>
        </li>

        <li class="nav-item dropup" *ngIf="user?.id" style="width: 275px;">
          <a class="nav-link  btn-profile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="d-flex align-items-center">
              <div class="rounded-circle me-3 overflow-hidden" style="width:40px;height:40px"><img [src]="imgUrl" alt=""
                  style="width:100%;height:100%"></div>
              <div>
                <h5 class="mb-0">{{user?.firstName}} {{user?.lastName}}</h5>
                <h6 class="text-muted">&#64;{{user?.userName}}</h6>
              </div>
              <div style="position: absolute;right: 20px;">&#8230;</div>
            </div>
          </a>
          
            <ul class="dropdown-menu">
              <li *ngIf="user?.id"><a class="dropdown-item nav-link  btn-profile" routerLink="/profile">
                <div class="d-flex align-items-center">
                  <div class="rounded-circle me-3 overflow-hidden" style="width:40px;height:40px"><img [src]="imgUrl"
                    alt="" style="width:100%;height:100%"></div>
                  <div>
                    <h5 class="mb-0">{{user.firstName}} {{user.lastName}}</h5>
                    <h6 class="text-muted">&#64;{{user.userName}}</h6>
                  </div>
                  
                </div>
              </a></li>
              <li (click)="this.user?logout():login()"><a class="dropdown-item text-center fw-bold text-muted">{{user?"Log out":"Login"}}
                <h6 class="text-muted text-center"><i class='bx bx-exit fs-4'></i> &nbsp;&#64;{{user?.userName}}</h6></a>

              </li>
            </ul>
          </li>

      </ul>
    </div>
  </div>
</nav>