<div class="login p-3">
  <div class="header d-flex align-items-center my-4 ">
    <a href="javascript:void(0)" (click)="goBack()" class="back me-3"><i class='bx bx-left-arrow-alt  fs-3'></i></a>
    <h5>Login</h5>
  </div>
  <form class="container px-4" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" formControlName="email" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="pwd" formControlName="pwd" />
    </div>

    <button type="submit" class="d-block mx-auto btn" [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
</div>