<div class="card">
  <div class="card-body">
    <div class="profile fw-bold"><img [src]="user?.image" alt="">{{user?.firstName}} {{user?.lastName}} <span
        class="text-muted fw-normal">@{{user?.userName}} . {{tweet.createdAt | date:"dd MMM"}}</span></div>
    <h5 class="card-text my-3">{{tweet.content}}</h5>
    <div class="d-flex justify-content-around">
      <div>
        <a class="btn p-0 me-2"><i class='bx bx-comment'></i></a>
        <span>{{1}}</span>
      </div>
      <div>
        <a class="btn p-0 me-2"><i class='bx bx-git-compare'></i></a>
        <span>{{2}}</span>
      </div>
      <div>
        <a (click)="plusLike(tweet)" class="btn p-0 me-2"><i class='bx bx-heart'></i></a>
        <span>{{tweet.likes!==0?tweet.likes:''}}</span>
      </div>
      <div>
        <a class="btn p-0 me-2"><i class='bx bx-share'></i></a>
        <span></span>
      </div>
    </div>


  </div>
</div>